@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    font-family: 'Montserrat', sans-serif !important;
}

/*antd-override*/
input {
    border-radius: 2px !important;
    border: 1px solid gray !important;
    height: 40px !important;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid gray !important;
}

label {
    font-size: 16px !important;
    color: black;
}

.ant-form-item{
    margin: 10px 0 !important;; 
  }

/* Styling for all the pages*/
.card-title {
    font-size: 2rem;
    font-weight: bold;
}

.normal-text {
    font-size: 1rem;
}

.card {
    box-shadow: 0 0 2px gray;
    border-radius: 0 !important;
}

.primary-button {
    background-color: #005555 !important;
    border-color: #005555 !important;
    height: 40px !important;
    width: 100% !important;
    color: white !important;
    font-size: 16px !important;
    width: max-content !important;
}


.full-width-button {
    width: 100% !important;
}

.anchor {
    color: black !important;    
    cursor: pointer;
    font-size: 16px !important;
}


/* for auth pages*/
.authentication {
    height: 100 vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authentication-form {
    width: 400px;
}

#components-layout-demo-fixed .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(14, 14, 14, 0.2);
  }
  .site-layout .site-layout-background {
    background: #fff;
  }

